<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_course_crossover.student_crossover_id %>
</p>

<p>
  <strong>Class:</strong>
  <%= @student_course_crossover.course_crossover1_id %>
</p>

<%= link_to 'Edit', edit_student_course_crossover_path(@student_course_crossover) %> |
<%= link_to 'Back', student_course_crossovers_path %>
