<%= form_for(@exam_period) do |f| %>
  <% if @exam_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_period.errors.count, "error") %> prohibited this exam_period from being saved:</h2>

      <ul>
      <% @exam_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
