<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_crossover_id %><br>
    <%= f.number_field :student_crossover_id %>
  </div>
  <div class="field">
    <%= f.label :supervision %><br>
    <%= f.number_field :supervision %>
  </div>
  <div class="field">
    <%= f.label :present %><br>
    <%= f.check_box :present %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
